.login {
    background: #56ab2f;
    background: -webkit-linear-gradient(to right, #aBe063, #56ab2f);
    background: linear-gradient(to right, #aBe063, #56ab2f);
}

.signup1 {
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    background: linear-gradient(to right, #004e92, #000428);
}

.profile {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
}

.signup2 {
  background: url(https://subtlepatterns.com/patterns/sativa.png) repeat fixed;
}
